<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Ticari_Otomasyon.Properties.Settings.DboTicariOtomasyonConnectionString"
            connectionString="Data Source=DESKTOP-4QDRAGM\ASUDEMOR;Initial Catalog=DboTicariOtomasyon;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="DboTicariOtomasyonConnectionString" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4QDRAGM\ASUDEMOR;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
        <add name="localhost_DboTicariOtomasyon_Connection" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4QDRAGM\ASUDEMOR;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
        <add name="localhost_DboTicariOtomasyon_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4QDRAGM\ASUDEMOR;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
        <add name="localhost_DboTicariOtomasyon_Connection 2" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4QDRAGM\ASUDEMOR;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
        <add name="localhost_DboTicariOtomasyon_Connection 3" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4QDRAGM\ASUDEMOR;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
        <add name="localhost_DboTicariOtomasyon_Connection 4" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4QDRAGM\ASUDEMOR;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
        <add name="localhost_DboTicariOtomasyon_Connection 5" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-4QDRAGM\ASUDEMOR;integrated security=SSPI;initial catalog=DboTicariOtomasyon" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>